<p> Olá <span style="color: #980000;"><%= name %></span>, tudo bem? </p>

<p> Que bom que podemos contar com você! </p>

<p> Seu ID é <span style="color: #980000;"><%= idvol %></span> </p>

<p> O que é o ID? </p>

<p> É o seu código de identificação, para preenchimento de quaisquer formulários, como listas de presenças, pesquisas de satisfação, dentre outros. </p>
<p> ​Para que serve? </p>

<ul>
    <li> Manter os dados dos voluntários atualizados; </li>
    <li> Unificação do sistema de gestão de Recursos Humanos; </li>
    <li> Traçar políticas de valorização e capacitação dos voluntários e implantar o banco de talentos; </li>
    <li> Estudar possíveis realocações de voluntários, para maior satisfação no desempenho de suas atribuições; </li>
    <li> Acompanhar suas atividades voluntárias e, </li>
    <li> Alinharmos suas necessidades com as da instituição. </li>
</ul>

<p> Você entrou no Grupo de Integração e recebeu informações básicas sobre o curso para voluntariado para diversas atividades. Se não acessou, por favor acesse:</p>

<p>p/avaliação de redações do livro “Ouça a sua Voz”” de Prem Rawat: <a href="https://chat.whatsapp.com/Hrb9gn36XhA0MEg6A9dm2k" >Integração Livro</a></p>

<p>p/avaliação de reflexões baseadas no Programa de Educação para a Paz, da Fundação Prem ou outras funções: <a href="https://chat.whatsapp.com/ImjFAcpQPka2mLKekL0BYk">Integração/Palavras Paz</a></p>

<p> Como sabe, estamos muito felizes em tê-la(o) conosco como nossa voluntária(o). Para nós o voluntariado é tudo. Precisamos de você e do seu apoio para prosseguirmos com o Programa de Educação para Paz junto aos Professores, Moradores em Situação de Rua, Refugiados, Imigrantes, Vítimas de Violência e Presos(as). </p>
<p> Como lidamos com uma população muito sensível, o sigilo e confidencialidade das informações é muito importante. Confiamos muito em você para realização desse trabalho e por isso nunca tivemos problemas nesse sentido. </p>
<p> Por outro lado, e, para garantirmos ainda mais todos os participantes do Programa, gostaríamos que você assinasse o Termo de Adesão ao Voluntariado e Confidencialidade que segue e agradecemos muitíssimo sua assinatura <a href="https://form.jotform.com/232415031912040"> neste anexo </a> </p>

<p> Aproveitamos para lembrar que prosseguimos com o curso para voluntários todas as noites das 19h30 às 20h30 pelo ZOOM e em alertar que em breve além das Unidades Prisionais no Estado de São Paulo iniciaremos nossas atividades do Programa de Educação para Paz nas Penitenciárias de Minas Gerais. Contamos com seu empenho para fazermos o melhor. </p>

<p> Caso tenha dúvidas ou queira saber mais, estamos à disposição! </p>

<p> Abraços cordiais, </p>

<p style="color: #980000;"> Palavrasdepaz.org </p>
 
<p> PS: Caso você já tenha recebido este e-mail e/ou integrado ao grupo Curso de Paz, favor desconsiderar esta mensagem. </p>