<p> Olá <span style="color: #980000;"><%= name %></span>, tudo bem? </p>

<p> Que bom que podemos contar com você! </p>

<p> Seu ID é <span style="color: #980000;"><%= idvol %></span> </p>

<p> O que é o ID? </p>

<p> É o seu código de identificação, para preenchimento de quaisquer formulários, como listas de presenças, pesquisas de satisfação, dentre outros. </p>
<p>Além do Programa de Educção para Paz, você também pode cursar gratuitamente o PEAK, um método simples para voltar os sentidos do mundo exterior para uma experiência de paz interior, uma experiência única para cada pessoa.</p>
<p>Para saber mais acesse: <a href="https://www.premrawat.com/pt-br/caminho-para-a-paz/">https://www.premrawat.com/pt-br/caminho-para-a-paz/</a></p>
<p>Caso tenha dúvidas ou queira saber mais, estamos à disposição!</p>
<p>Abraços cordiais,</p>
<p>Palavrasdepaz.org</p>